Package: com.gmcf.oldplayer
Name: OldPlayer
Depends: firmware (>= 6.0), mobilesubstrate
Version: 1.0.0
Architecture: iphoneos-arm
Description: 32-bit media player for iOS 6-9 (armv7) with WebDAV, FTP and SMB remote browsing and playback
Maintainer: gmcf111 <gmcf111@github>
Author: gmcf111
Section: Multimedia
Priority: optional
Tag: purpose::multimedia
Depiction: https://github.com/gmcf111/oldplayer
